.breadcrumb {
  padding: 13px 15px;
  border-radius: 4px;
  background-color: $base-color5;

  .breadcrumb-item.active {
    color: $base-color2;
  }
  a {
    color: $indigo-color;
    &:hover {
      color: rgba($indigo-color, 0.8);
    }
  }
}
